
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br/><br/>
      <h1 class="header center #E6FAAA">SUMOARY</h1>
      <div class="row center">
        <h3 class="header col s12 light #E6FAAA">THE ONE-STOP SUMO SUMMARY SITE</h3>
      </div>
      <div class="row center">
        <br/><br/>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/hero_sized.jpg" alt="Scenic Japanese 19th Century Woodblock"></div>
</div>


<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send black-text"></i></h3>
        <h4></h4>
        <p class="center-align dark"><h5>
          Sumo (相撲 <em>sumō</em>) or sumo wrestling is a competitive full-contact wrestling sport where a <em>rikishi</em> (wrestler) attempts to force another wrestler out of a circular ring (<em>dohyō</em>) or into touching the ground with anything other than the soles of his feet. The characters 相撲 literally mean "striking one another".
        </h5>
      </p>
    </div>
  </div>
</div>
</div>



<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <br/><br/>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <!-- <h2 class="center header col s12 white-text">Makuuchi (幕内) Rikishi (力士)</h2> -->
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/hero_2.jpg" alt="Scenic Japanese 19th Century Woodblock"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col s4 m4">
      <div class="icon-block">


        <p class="light">
          <ul class="data center deep-purple-darken-3-text">
            <li>
              <h5>
                <ul>
                  <li>
                    <div class="card large z-depth-4">
                      <div class="card-image">
                        <a href="/#yokozuna"><img src="assets/hak_ss_sized.jpg" alt="Hakuho Sho with Sylvester Stallone" class="photo materialboxed"></a>
                      </div>
                      <div class="card-content">
                        <a href="/yokozuna"><span class="card-title grey-text text-darken-4"><h4 class="center deep-purple-darken-3-text" class="titles">Yokozuna</h4><i class="material-icons right">もっと！!</i></span></a>
                      </div>

                    </div>
                  </li>
                </ul>
              </h5>
            </li>
          </ul>
        </p>
      </div>
    </div>

    <div class="col s4 m4">
      <div class="icon-block">
        <h5 class="center"></h5>

        <p class="light">
          <ul class="data center deep-purple-darken-3-text">
            <li>
              <h5>
                <ul>
                  <li>
                    <div class="card large z-depth-4">
                      <div class="card-image">
                        <a href="/#ozeki"><img src="assets/tochi_v.jpg" alt="Tochinoshin Victory Ride" class="photo"></a>
                      </div>
                      <div class="card-content">
                        <a href="/ozeki"><span class="card-title grey-text text-darken-4"><h4 class="center deep-purple-darken-3-text" class="titles">Ōzeki</h4><i class="material-icons right">もっと！!</i></span></a>
                        <p></p>
                      </div>
                    </div>
                  </li>
                </ul>
              </h5>
            </li>
          </ul>
        </p>
      </div>
    </div>

    <div class="col s4 m4">
      <div class="icon-block">
        <!-- <h4 class="center deep-purple-darken-3-text" class="titles">Sekiwake</h4> -->
        <h5 class="center"></h5>

        <p class="light">
          <ul class="data center deep-purple-darken-3-text">
            <li>
              <h5>
                <ul>
                  <li>
                    <li>
                      <div class="card large z-depth-4">
                        <div class="card-image">
                          <a href="/#sekiwake"><img src="assets/ichi_kids_sized.jpg" alt="Ichinojo with Kids" class="photo"></a>
                        </div>
                        <div class="card-content">
                          <a href="/sekiwake"><span class="card-title grey-text text-darken-4"><h4 class="center deep-purple-darken-3-text" class="titles">Sekiwake</h4><i class="material-icons right">もっと！!</i></span></a>
                          <p></p>
                        </div>
                      </div>
                    </li>

                  </div>
                </li>
              </ul>
            </h5>
          </li>
        </ul>
      </p>
    </div>
  </div>
  <div class="row" background-color="#beb1d5">
    <div class="col s4 m4">
      <div class="icon-block">
        <h5 class="center"></h5>

        <p class="light">
          <ul class="data center deep-purple-darken-3-text">
            <li>
              <h5>
                <ul>
                  <li>
                    <div class="card large z-depth-4">
                      <div class="card-image">
                        <a href="/#komusubi"><img src="assets/endo_komu.jpg" alt="Endo Smiling" class="photo"></a>
                      </div>
                      <div class="card-content">
                        <a href="/komusubi"><span class="card-title grey-text text-darken-4"><h4 class="center deep-purple-darken-3-text" class="titles">Komusubi</h4><i class="material-icons right">もっと！!</i></span></a>
                        <p></p>
                      </div>
                      <!--        <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4" class="titles">Gâteaux & Tartes<i class="material-icons right">close</i></span>
                      <p id="cakesDiv"></p>
                    </div> -->
                  </div>
                </li>
              </ul>
            </h5>
          </li>
        </ul>
      </p>
    </div>
  </div>

  <div class="col s4 m4">
    <div class="icon-block">
      <h5 class="center"></h5>

      <p class="light">
        <ul class="data center deep-purple-darken-3-text">
          <li>
            <h5>
              <ul>
                <li>
                  <div class="card large z-depth-4">
                    <div class="card-image">
                      <a href="/#maegashira"><img src="assets/abi_maeg.jpg" alt="Abi with Kids" class="photo"></a>
                    </div>
                    <div class="card-content">
                      <a href="/maegashira"><span class="card-title grey-text text-darken-4"><h4 class="center deep-purple-darken-3-text" class="titles">Maegashira</h4><i class="material-icons right">もっと！!</i></span></a>
                      <p></p>
                    </div>
                  </div>
                </li>
              </ul>
            </h5>
          </li>
        </ul>
      </p>
    </div>
  </div>


  <div class="col s4 m4">
    <div class="icon-block">
      <!-- <h4 class="center deep-purple-darken-3-text" class="titles">Sekiwake</h4> -->
      <h5 class="center"></h5>

      <!-- <p class="light">
      <ul class="data center deep-purple-darken-3-text">
      <li>
      <h5>
      <ul>
      <li>
      <li>
      <div class="card medium">
      <div class="card-image">
      <a href="/savory"><img src="assets/ichi_kids_sized.jpg" alt="Pic of Savory Tomato Tarte"></a>
    </div>
    <div class="card-content">
    <a href="/savory"><span class="card-title grey-text text-darken-4"><h4 class="center deep-purple-darken-3-text" class="titles">Sekiwake</h4></br><i class="material-icons right">もっと！!</i></span></a>
    <p></p>
  </div>
</div>
</li>

</div>
</li>
</ul>
</h5>
</li>
</ul>
</p> -->
</div>
</div>
</div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <br/><br/>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <!-- <h2 class="center header col s12 white-text">Makuuchi (幕内) Rikishi (力士)</h2> -->
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/hero_2.jpg" alt="Scenic Japanese 19th Century Woodblock"></div>
</div>

<div class="container">
  <div class="row">
    <h3 class="center" id="yokozuna">YOKOZUNA</h3>
    <div class="col s4 m4">
      <div class="icon-block">


        <p class="light">
          <ul class="data center deep-purple-darken-3-text">
            <li>
              <h5>
                <ul>
                  <li>
                    <div class="card  z-depth-4">
                      <div class="card-image waves-block">
                        <img class="activator photo"  src="assets/hakuho_skirt.jpg" alt="Hakuho in Regalia">
                      </div>
                      <div class="card-content">
                        <span class="card-title grey-text text-darken-4"><p1 class="center deep-purple-darken-3-text" class="titles">HAKUHŌ <br/> SHŌ
 </p></br><i class="material-icons right">もっと！!</i></span>

                          <p></p>
                        </div>
                        <div class="card-reveal grad2">
                          <span class="card-title grey-text text-darken-4" class="title"><i class="material-icons right" style="font-family: 'Krona One', sans-serif;">close</i></span>
                          <p>
                            <ul style="font-family: 'Patrick Hand SC', cursive";>
                              <br/><br/>

                              <li style="font-family: 'Patrick Hand SC', cursive";>NAME: Mönkhbatyn	Davaajargal</li><br/>
                              <li style="font-family: 'Patrick Hand SC', cursive";>ORIGIN COUNTRY: Mongolia</li><br/>
                              <li style="font-family: 'Patrick Hand SC', cursive";>RING NAME (<em>shikona</em>): Hakuhō</li><br/>
                              <li style="font-family: 'Patrick Hand SC', cursive";>BIRTHDATE: 06/22/92</li><br/>
                              <li style="font-family: 'Patrick Hand SC', cursive";>HEIGHT: 1.74 m</li><br/>
                              <li style="font-family: 'Patrick Hand SC', cursive";>WEIGHT: 155 k </li><br/>
                              <li style="font-family: 'Patrick Hand SC', cursive";>STABLE: Miyagino</li><br/>
                              <li style="font-family: 'Patrick Hand SC', cursive";>HIGHEST RANK: Yokozuna</li><br/>
                              <li style="font-family: 'Patrick Hand SC', cursive";>AGE: 33</li><br/>
                              <li style="font-family: 'Patrick Hand SC', cursive";>DEBUT: 03/1985</li><br/>
                              <li style="font-family: 'Patrick Hand SC', cursive";>CURRENT RANK: Yokozuna</li><br/>
                              <li style="font-family: 'Patrick Hand SC', cursive";>SPECIAL PRIZES: Outstanding Performance (3), Fighting Spirit (1), Technique (2)"</li><br/>
                              <li style="font-family: 'Patrick Hand SC', cursive";>CHAMPIONSHIPS: 40</li><br/>
                              <li style="font-family: 'Patrick Hand SC', cursive";>GOLD STAR WINS (<em>kinboshi</em>): 1</li><br/>
                            </ul></p>
                          </div>
                        </li>

                      </ul>
                    </h5>
                  </li>
                </ul>
              </p>
            </div>
          </div>

          <div class="col s4 m4">
            <div class="icon-block">
              <h5 class="center"></h5>

              <p class="light">
                <ul class="data center deep-purple-darken-3-text">
                  <li>
                    <h5>
                      <ul>
                        <li>
                          <div class="card  z-depth-4">
                            <div class="card-image waves-block">
                              <img class="activator"  src="assets/kisenosato_skirt.jpg" alt="Chiyoshōma in Regalia" class="photo">
                            </div>
                            <div class="card-content">
                              <span class="card-title grey-text text-darken-4"><p1 class="center deep-purple-darken-3-text" class="titles">KISENOSATO <br/> HAGIWARA</p></br><i class="material-icons right">もっと！!</i></span>

                                <p></p>
                              </div>
                              <div class="card-reveal grad2">
                                <span class="card-title grey-text text-darken-4" class="titles"><i class="material-icons right" style="font-family: 'Krona One', sans-serif;">close</i></span>
                                <p>
                                  <ul style="font-family: 'Patrick Hand SC', cursive";>
                                    <br/><br/>

                                    <li style="font-family: 'Patrick Hand SC', cursive";>NAME: Yutaka	Hagiwara</li><br/>
                                    <li style="font-family: 'Patrick Hand SC', cursive";>ORIGIN COUNTRY: Japan</li><br/>
                                    <li style="font-family: 'Patrick Hand SC', cursive";>RING NAME (<em>shikona</em>): Kisenosato</li><br/>
                                    <li style="font-family: 'Patrick Hand SC', cursive";>BIRTHDATE: 07/20/91</li><br/>
                                    <li style="font-family: 'Patrick Hand SC', cursive";>HEIGHT: 1.84 m</li></br>
                                    <li style="font-family: 'Patrick Hand SC', cursive";>WEIGHT: 178 k </li><br/>
                                    <li style="font-family: 'Patrick Hand SC', cursive";>STABLE: Taganoura</li><br/>
                                    <li style="font-family: 'Patrick Hand SC', cursive";>HIGHEST RANK: Yokozuna</li><br/>
                                    <li style="font-family: 'Patrick Hand SC', cursive";>AGE: 31</li><br/>
                                    <li style="font-family: 'Patrick Hand SC', cursive";>DEBUT: 03/2002</li><br/>
                                    <li style="font-family: 'Patrick Hand SC', cursive";>CURRENT RANK: Yokozuna</li><br/>
                                    <li style="font-family: 'Patrick Hand SC', cursive";>SPECIAL PRIZES: Outstanding Performance (5), Fighting Spirit (3), Technique (1)</li><br/>
                                    <li style="font-family: 'Patrick Hand SC', cursive";>CHAMPIONSHIPS: 2</li><br/>
                                    <li style="font-family: 'Patrick Hand SC', cursive";>GOLD STAR WINS (<em>kinboshi</em>): 3</li><br/>
                                  </ul>
                                </p>
                              </div>
                            </li>
                          </ul>
                        </h5>
                      </li>
                    </ul>
                  </p>
                </div>
              </div>

              <div class="col s4 m4">
                <div class="icon-block">

                  <h5 class="center"></h5>

                  <p class="light">
                    <ul class="data center deep-purple-darken-3-text">
                      <li>
                        <h5>
                          <ul>
                            <li>
                              <div class="card  z-depth-4">
                                <div class="card-image waves-block waves">
                                  <img class="activator photo"  src="assets/kakuryu_skirt.jpg" alt="Takakeisho in Regalia">
                                </div>
                                <div class="card-content">
                                  <span class="card-title grey-text text-darken-4"><p1 class="center deep-purple-darken-3-text" class="titles">TAKAKEISHŌ MITSUNOBU</p></br><i class="material-icons right">もっと！!</i></span>

                                    <p></p>
                                  </div>
                                  <div class="card-reveal grad2">
                                    <span class="card-title grey-text text-darken-4" class="title"><i class="material-icons right" style="font-family: 'Krona One', sans-serif;">close</i></span>
                                    <p>
                                      <ul style="font-family: 'Patrick Hand SC', cursive";>
                                        <br/><br/>Anand	Mongolia	  Rikisaburō	08/10/85	1.86m	159	Izutsu	Yokozuna		11/2001	32	Yokozuna	Technique (7), Outstanding Performance (2)	5	0	5

                                        <li style="font-family: 'Patrick Hand SC', cursive";>NAME: Mangaljalavyn	</li><br/>
                                        <li style="font-family: 'Patrick Hand SC', cursive";>ORIGIN COUNTRY: Japan</li><br/>
                                        <li style="font-family: 'Patrick Hand SC', cursive";>RING NAME (<em>shikona</em>): Kakuryū</li><br/>
                                        <li style="font-family: 'Patrick Hand SC', cursive";>BIRTHDATE: 08/10/85</li><br/>
                                        <li style="font-family: 'Patrick Hand SC', cursive";>HEIGHT: 1.86 m</li><br/>
                                        <li style="font-family: 'Patrick Hand SC', cursive";>WEIGHT: 159 k </li><br/>
                                        <li style="font-family: 'Patrick Hand SC', cursive";>STABLE: Takanohana</li><br/>
                                        <li style="font-family: 'Patrick Hand SC', cursive";>HIGHEST RANK: Maegashira 10</li><br/>
                                        <li style="font-family: 'Patrick Hand SC', cursive";>AGE: 21</li><br/>
                                        <li style="font-family: 'Patrick Hand SC', cursive";>DEBUT: 11/2014</li><br/>
                                        <li style="font-family: 'Patrick Hand SC', cursive";>CURRENT RANK: Maegashira 10</li><br/>
                                        <li style="font-family: 'Patrick Hand SC', cursive";>SPECIAL PRIZES: Fighting Spirit (1), Outstanding Performance (2)</li><br/>
                                        <li style="font-family: 'Patrick Hand SC', cursive";>CHAMPIONSHIPS: 0</li><br/>
                                        <li style="font-family: 'Patrick Hand SC', cursive";>GOLD STAR WINS (<em>kinboshi</em>): 3</li><br/>
                                      </ul>
                                    </p>
                                  </div>
                                </li>
                              </div>
                            </ul>
                          </h5>
                        </li>
                      </ul>
                    </p>
                  </div>
                </div>
                <div class="row" background-color="#beb1d5">
                  <div class="col s4 m4">
                    <div class="icon-block">


                      <div class="col s4 m4">
                        <div class="icon-block">

                          <h5 class="center"></h5>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="parallax-container valign-wrapper">
                <div class="section no-pad-bot">
                  <div class="container">
                    <div class="row center">
                      <h3 class="header col s12 white-text"></h3>
                    </div>
                  </div>
                </div>
                <div class="parallax"><img src="assets/hero_sized.jpg" alt="Scenic Japanese 19th Century Woodblock"></div>
              </div>
              <div class="container">
                <div class="section">
                  <div class="row">
                    <div class="col s12 center">
                      <h3><i class="mdi-content-send black-text"></i></h3>
                      <h4></h4>
                      <p class="center-align dark"><h5>
                        The Structure of Sumo Wrestling. Professional sumo consists of approximately 550 rikishi divided into 6 divisions. The top division, called <em>Makuuchi</em>, includes the top 42 wrestlers in the sport. The <em>Makuuchi</em> rank receives the most attention and media coverage.
                      </h5>
                    </p>
                  </div>
                </div>
              </div>
            </div>



            <div class="parallax-container valign-wrapper">
              <div class="section no-pad-bot">
                <div class="container">
                  <div class="row center">
                    <br/><br/>
                    <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                  </div>
                </div>
              </div>
              <div class="parallax"><img src="assets/hero_sized.jpg" alt="Scenic Japanese 19th Century Woodblock"></div>
            </div>


            <div class="container">
              <div class="row">
                <h3 class="center" id="ozeki">ŌZEKI</h3>
                <div class="col s4 m4">
                  <div class="icon-block">


                    <p class="light">
                      <ul class="data center deep-purple-darken-3-text">
                        <li>
                          <h5>
                            <ul>
                              <li>
                                <div class="card  z-depth-4">
                                  <div class="card-image waves-block">
                                    <img class="activator photo"  src="assets/takayasu_skirt.jpg" alt="Ura in Regalia">
                                  </div>
                                  <div class="card-content">
                                    <span class="card-title grey-text text-darken-4"><p1 class="center deep-purple-darken-3-text" class="titles">URA <br/> KAZUKI</p></br><i class="material-icons right">もっと！!</i></span>

                                      <p></p>
                                    </div>
                                    <div class="card-reveal grad2">
                                      <span class="card-title grey-text text-darken-4" class="title"><i class="material-icons right" style="font-family: 'Krona One', sans-serif;">close</i></span>
                                      <p>
                                        <ul style="font-family: 'Patrick Hand SC', cursive";>
                                          <br/><br/>
                                          <li style="font-family: 'Patrick Hand SC', cursive";>NAME: Kazuki	Ura</li><br/>
                                          <li style="font-family: 'Patrick Hand SC', cursive";>ORIGIN COUNTRY: Japan</li><br/>
                                          <li style="font-family: 'Patrick Hand SC', cursive";>RING NAME (<em>shikona</em>): Ura</li><br/>
                                          <li style="font-family: 'Patrick Hand SC', cursive";>BIRTHDATE: 06/22/92</li><br/>
                                          <li style="font-family: 'Patrick Hand SC', cursive";>HEIGHT: 1.74 m</li><br/>
                                          <li style="font-family: 'Patrick Hand SC', cursive";>WEIGHT: 137 k </li><br/>
                                          <li style="font-family: 'Patrick Hand SC', cursive";>STABLE: Kise</li><br/>
                                          <li style="font-family: 'Patrick Hand SC', cursive";>HIGHEST RANK: Maegashira 4</li><br/>
                                          <li style="font-family: 'Patrick Hand SC', cursive";>AGE: 25</li><br/>
                                          <li style="font-family: 'Patrick Hand SC', cursive";>DEBUT: 03/2015</li><br/>
                                          <li style="font-family: 'Patrick Hand SC', cursive";>CURRENT RANK: Maegashira 16</li><br/>
                                          <li style="font-family: 'Patrick Hand SC', cursive";>SPECIAL PRIZES: </li><br/>
                                          <li style="font-family: 'Patrick Hand SC', cursive";>CHAMPIONSHIPS: 0</li><br/>
                                          <li style="font-family: 'Patrick Hand SC', cursive";>GOLD STAR WINS (<em>kinboshi</em>): 1</li><br/>
                                        </ul></p>
                                      </div>
                                    </li>

                                  </ul>
                                </h5>
                              </li>
                            </ul>
                          </p>
                        </div>
                      </div>

                      <div class="col s4 m4">
                        <div class="icon-block">

                          <h5 class="center"></h5>

                          <p class="light">
                            <ul class="data center deep-purple-darken-3-text">
                              <li>
                                <h5>
                                  <ul>
                                    <li>
                                      <div class="card  z-depth-4">
                                        <div class="card-image waves-block">
                                          <img class="activator"  src="assets/chiyoshoma_skirt.jpg" alt="Chiyoshōma in Regalia" class="photo">
                                        </div>
                                        <div class="card-content">
                                          <span class="card-title grey-text text-darken-4"><p1 class="center deep-purple-darken-3-text" class="titles">CHIYOSHŌMA <br/> FUJIO</p></br><i class="material-icons right">もっと！!</i></span>

                                            <p></p>
                                          </div>
                                          <div class="card-reveal grad2">
                                            <span class="card-title grey-text text-darken-4" class="titles"><i class="material-icons right" style="font-family: 'Krona One', sans-serif;">close</i></span>
                                            <p>
                                              <ul style="font-family: 'Patrick Hand SC', cursive";>
                                                <br/><br/>
                                                <li style="font-family: 'Patrick Hand SC', cursive";>NAME: Ganbaatar Munkhsaihan</li><br/>
                                                <li style="font-family: 'Patrick Hand SC', cursive";>ORIGIN COUNTRY: Mongolia</li><br/>
                                                <li style="font-family: 'Patrick Hand SC', cursive";>RING NAME (<em>shikona</em>): Chiyoshama</li><br/>
                                                <li style="font-family: 'Patrick Hand SC', cursive";>BIRTHDATE: 07/20/91</li><br/>
                                                <li style="font-family: 'Patrick Hand SC', cursive";>HEIGHT: 1.84 m</li></br>
                                                <li style="font-family: 'Patrick Hand SC', cursive";>WEIGHT: 140 k </li><br/>
                                                <li style="font-family: 'Patrick Hand SC', cursive";>STABLE: Kokonoe</li><br/>
                                                <li style="font-family: 'Patrick Hand SC', cursive";>HIGHEST RANK: Maegashira 6</li><br/>
                                                <li style="font-family: 'Patrick Hand SC', cursive";>AGE: 26</li><br/>
                                                <li style="font-family: 'Patrick Hand SC', cursive";>DEBUT: 09/2009</li><br/>
                                                <li style="font-family: 'Patrick Hand SC', cursive";>CURRENT RANK: Maegashira 6</li><br/>
                                                <li style="font-family: 'Patrick Hand SC', cursive";>SPECIAL PRIZES: </li><br/>
                                                <li style="font-family: 'Patrick Hand SC', cursive";>CHAMPIONSHIPS: 0</li><br/>
                                                <li style="font-family: 'Patrick Hand SC', cursive";>GOLD STAR WINS (<em>kinboshi</em>): 0</li><br/>
                                              </ul>
                                            </p>
                                          </div>
                                        </li>
                                      </ul>
                                    </h5>
                                  </li>
                                </ul>
                              </p>
                            </div>
                          </div>

                          <div class="col s4 m4">
                            <div class="icon-block">
                              <!-- <h4 class="center deep-purple-darken-3-text" class="titles">Sekiwake</h4> -->
                              <h5 class="center"></h5>

                              <p class="light">
                                <ul class="data center deep-purple-darken-3-text">
                                  <li>
                                    <h5>
                                      <ul>
                                        <li>
                                          <div class="card  z-depth-4">
                                            <div class="card-image waves-block waves">
                                              <img class="activator photo"  src="assets/takakeisho_skirt.jpg" alt="Takakeisho in Regalia">
                                            </div>
                                            <div class="card-content">
                                              <span class="card-title grey-text text-darken-4"><p1 class="center deep-purple-darken-3-text" class="titles">TAKAKEISHŌ MITSUNOBU</p></br><i class="material-icons right">もっと！!</i></span>
                                                <!-- Photo By FourTildes - Own work, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=40609894 -->
                                                <p></p>
                                              </div>
                                              <div class="card-reveal grad2">
                                                <span class="card-title grey-text text-darken-4" class="title"><i class="material-icons right" style="font-family: 'Krona One', sans-serif;">close</i></span>
                                                <p>
                                                  <ul style="font-family: 'Patrick Hand SC', cursive";>
                                                    <br/><br/>
                                                    <li style="font-family: 'Patrick Hand SC', cursive";>NAME: Takanobu	Satō</li><br/>
                                                    <li style="font-family: 'Patrick Hand SC', cursive";>ORIGIN COUNTRY: Japan</li><br/>
                                                    <li style="font-family: 'Patrick Hand SC', cursive";>RING NAME (<em>shikona</em>): Takakeishō</li><br/>
                                                    <li style="font-family: 'Patrick Hand SC', cursive";>BIRTHDATE: 08/05/96</li><br/>
                                                    <li style="font-family: 'Patrick Hand SC', cursive";>HEIGHT: 1.75 m</li><br/>
                                                    <li style="font-family: 'Patrick Hand SC', cursive";>WEIGHT: 170 k </li><br/>
                                                    <li style="font-family: 'Patrick Hand SC', cursive";>STABLE: Takanohana</li><br/>
                                                    <li style="font-family: 'Patrick Hand SC', cursive";>HIGHEST RANK: Maegashira 10</li><br/>
                                                    <li style="font-family: 'Patrick Hand SC', cursive";>AGE: 21</li><br/>
                                                    <li style="font-family: 'Patrick Hand SC', cursive";>DEBUT: 11/2014</li><br/>
                                                    <li style="font-family: 'Patrick Hand SC', cursive";>CURRENT RANK: Maegashira 10</li><br/>
                                                    <li style="font-family: 'Patrick Hand SC', cursive";>SPECIAL PRIZES: Fighting Spirit (1), Outstanding Performance (2)</li><br/>
                                                    <li style="font-family: 'Patrick Hand SC', cursive";>CHAMPIONSHIPS: 0</li><br/>
                                                    <li style="font-family: 'Patrick Hand SC', cursive";>GOLD STAR WINS (<em>kinboshi</em>): 3</li><br/>
                                                  </ul>
                                                </p>
                                              </div>
                                            </li>
                                          </div>
                                        </ul>
                                      </h5>
                                    </li>
                                  </ul>
                                </p>
                              </div>
                            </div>
                            <div class="row" background-color="#beb1d5">
                              <div class="col s4 m4">
                                <div class="icon-block">


                                  <div class="col s4 m4">
                                    <div class="icon-block">
                                      <h5 class="center"></h5>

                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="parallax-container valign-wrapper">
                            <div class="section no-pad-bot">
                              <div class="container">
                                <div class="row center">
                                  <h3 class="header col s12 white-text"></h3>
                                </div>
                              </div>
                            </div>
                            <div class="parallax"><img src="assets/hero3sz.jpg" alt="Scenic Japanese 19th Century Woodblock"></div>
                          </div>

                          <div class="container">
                            <div class="section">
                              <div class="row">
                                <div class="col s12 center">
                                  <h3><i class="mdi-content-send black-text"></i></h3>
                                  <h4></h4>
                                  <p class="center-align dark"><h5>
                                    Sumo originated about 1,500 years. From the very beginning it was entwined with Shinto ritual, when it was performed at shrines to ensure a bountiful harvest and to honour the spirits – known as kami. Sumo is still very closely associated with its religious origins, and Shinto principles continue to govern the everyday life of today’s sumo wrestlers. Each of the ring-entering ceremonies is a Shinto purification ritual, and every newly promoted yokozuna (the highest rank in sumo) performs his first ring-entering ceremony at the Meiji Shrine in Tokyo. The canopy that hangs over the ring is modelled after the roof of a Shinto shrine, indicating that the ring itself is a holy place.
                                  </h5>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>



                        <div class="parallax-container valign-wrapper">
                          <div class="section no-pad-bot">
                            <div class="container">
                              <div class="row center">
                                <br/><br/>
                                <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                              </div>
                            </div>
                          </div>
                          <div class="parallax"><img src="assets/hero_2.jpg" alt="Scenic Japanese 19th Century Woodblock"></div>
                        </div>


                        <div class="container">
                          <div class="row">
                            <h3 class="center" id="sekiwake">SEKIWAKE</h3>
                            <div class="col s4 m4">
                              <div class="icon-block">


                                <p class="light">
                                  <ul class="data center deep-purple-darken-3-text">
                                    <li>
                                      <h5>
                                        <ul>
                                          <li>
                                            <div class="card  z-depth-4">
                                              <div class="card-image waves-block">
                                                <img class="activator photo"  src="assets/ura_skirt.jpg" alt="Ura in Regalia">
                                              </div>
                                              <div class="card-content">
                                                <span class="card-title grey-text text-darken-4"><p1 class="center deep-purple-darken-3-text" class="titles">URA <br/> KAZUKI</p></br><i class="material-icons right">もっと！!</i></span>
                                                  <!-- Photo By FourTildes - Own work, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=40609894 -->
                                                  <p></p>
                                                </div>
                                                <div class="card-reveal grad2">
                                                  <span class="card-title grey-text text-darken-4" class="title"><i class="material-icons right" style="font-family: 'Krona One', sans-serif;">close</i></span>
                                                  <p>
                                                    <ul style="font-family: 'Patrick Hand SC', cursive";>
                                                      <br/><br/>
                                                      <li style="font-family: 'Patrick Hand SC', cursive";>NAME: Kazuki	Ura</li><br/>
                                                      <li style="font-family: 'Patrick Hand SC', cursive";>ORIGIN COUNTRY: Japan</li><br/>
                                                      <li style="font-family: 'Patrick Hand SC', cursive";>RING NAME (<em>shikona</em>): Ura</li><br/>
                                                      <li style="font-family: 'Patrick Hand SC', cursive";>BIRTHDATE: 06/22/92</li><br/>
                                                      <li style="font-family: 'Patrick Hand SC', cursive";>HEIGHT: 1.74 m</li><br/>
                                                      <li style="font-family: 'Patrick Hand SC', cursive";>WEIGHT: 137 k </li><br/>
                                                      <li style="font-family: 'Patrick Hand SC', cursive";>STABLE: Kise</li><br/>
                                                      <li style="font-family: 'Patrick Hand SC', cursive";>HIGHEST RANK: Maegashira 4</li><br/>
                                                      <li style="font-family: 'Patrick Hand SC', cursive";>AGE: 25</li><br/>
                                                      <li style="font-family: 'Patrick Hand SC', cursive";>DEBUT: 03/2015</li><br/>
                                                      <li style="font-family: 'Patrick Hand SC', cursive";>CURRENT RANK: Maegashira 16</li><br/>
                                                      <li style="font-family: 'Patrick Hand SC', cursive";>SPECIAL PRIZES: </li><br/>
                                                      <li style="font-family: 'Patrick Hand SC', cursive";>CHAMPIONSHIPS: 0</li><br/>
                                                      <li style="font-family: 'Patrick Hand SC', cursive";>GOLD STAR WINS (<em>kinboshi</em>): 1</li><br/>
                                                    </ul></p>
                                                  </div>
                                                </li>

                                              </ul>
                                            </h5>
                                          </li>
                                        </ul>
                                      </p>
                                    </div>
                                  </div>

                                  <div class="col s4 m4">
                                    <div class="icon-block">

                                      <h5 class="center"></h5>

                                      <p class="light">
                                        <ul class="data center deep-purple-darken-3-text">
                                          <li>
                                            <h5>
                                              <ul>
                                                <li>
                                                  <div class="card  z-depth-4">
                                                    <div class="card-image waves-block">
                                                      <img class="activator"  src="assets/chiyoshoma_skirt.jpg" alt="Chiyoshōma in Regalia" class="photo">
                                                    </div>
                                                    <div class="card-content">
                                                      <span class="card-title grey-text text-darken-4"><p1 class="center deep-purple-darken-3-text" class="titles">CHIYOSHŌMA <br/> FUJIO</p></br><i class="material-icons right">もっと！!</i></span>

                                                        <p></p>
                                                      </div>
                                                      <div class="card-reveal grad2">
                                                        <span class="card-title grey-text text-darken-4" class="titles"><i class="material-icons right" style="font-family: 'Krona One', sans-serif;">close</i></span>
                                                        <p>
                                                          <ul style="font-family: 'Patrick Hand SC', cursive";>
                                                            <br/><br/>
                                                            <li style="font-family: 'Patrick Hand SC', cursive";>NAME: Ganbaatar Munkhsaihan</li><br/>
                                                            <li style="font-family: 'Patrick Hand SC', cursive";>ORIGIN COUNTRY: Mongolia</li><br/>
                                                            <li style="font-family: 'Patrick Hand SC', cursive";>RING NAME (<em>shikona</em>): Chiyoshama</li><br/>
                                                            <li style="font-family: 'Patrick Hand SC', cursive";>BIRTHDATE: 07/20/91</li><br/>
                                                            <li style="font-family: 'Patrick Hand SC', cursive";>HEIGHT: 1.84 m</li></br>
                                                            <li style="font-family: 'Patrick Hand SC', cursive";>WEIGHT: 140 k </li><br/>
                                                            <li style="font-family: 'Patrick Hand SC', cursive";>STABLE: Kokonoe</li><br/>
                                                            <li style="font-family: 'Patrick Hand SC', cursive";>HIGHEST RANK: Maegashira 6</li><br/>
                                                            <li style="font-family: 'Patrick Hand SC', cursive";>AGE: 26</li><br/>
                                                            <li style="font-family: 'Patrick Hand SC', cursive";>DEBUT: 09/2009</li><br/>
                                                            <li style="font-family: 'Patrick Hand SC', cursive";>CURRENT RANK: Maegashira 6</li><br/>
                                                            <li style="font-family: 'Patrick Hand SC', cursive";>SPECIAL PRIZES: </li><br/>
                                                            <li style="font-family: 'Patrick Hand SC', cursive";>CHAMPIONSHIPS: 0</li><br/>
                                                            <li style="font-family: 'Patrick Hand SC', cursive";>GOLD STAR WINS (<em>kinboshi</em>): 0</li><br/>
                                                          </ul>
                                                        </p>
                                                      </div>
                                                    </li>
                                                  </ul>
                                                </h5>
                                              </li>
                                            </ul>
                                          </p>
                                        </div>
                                      </div>

                                      <div class="col s4 m4">
                                        <div class="icon-block">

                                          <h5 class="center"></h5>

                                          <p class="light">
                                            <ul class="data center deep-purple-darken-3-text">
                                              <li>
                                                <h5>
                                                  <ul>
                                                    <li>
                                                      <div class="card  z-depth-4">
                                                        <div class="card-image waves-block waves">
                                                          <img class="activator photo"  src="assets/takakeisho_skirt.jpg" alt="Takakeisho in Regalia">
                                                        </div>
                                                        <div class="card-content">
                                                          <span class="card-title grey-text text-darken-4"><p1 class="center deep-purple-darken-3-text" class="titles">TAKAKEISHŌ MITSUNOBU</p></br><i class="material-icons right">もっと！!</i></span>

                                                            <p></p>
                                                          </div>
                                                          <div class="card-reveal grad2">
                                                            <span class="card-title grey-text text-darken-4" class="title"><i class="material-icons right" style="font-family: 'Krona One', sans-serif;">close</i></span>
                                                            <p>
                                                              <ul style="font-family: 'Patrick Hand SC', cursive";>
                                                                <br/><br/>
                                                                <li style="font-family: 'Patrick Hand SC', cursive";>NAME: Takanobu	Satō</li><br/>
                                                                <li style="font-family: 'Patrick Hand SC', cursive";>ORIGIN COUNTRY: Japan</li><br/>
                                                                <li style="font-family: 'Patrick Hand SC', cursive";>RING NAME (<em>shikona</em>): Takakeishō</li><br/>
                                                                <li style="font-family: 'Patrick Hand SC', cursive";>BIRTHDATE: 08/05/96</li><br/>
                                                                <li style="font-family: 'Patrick Hand SC', cursive";>HEIGHT: 1.75 m</li><br/>
                                                                <li style="font-family: 'Patrick Hand SC', cursive";>WEIGHT: 170 k </li><br/>
                                                                <li style="font-family: 'Patrick Hand SC', cursive";>STABLE: Takanohana</li><br/>
                                                                <li style="font-family: 'Patrick Hand SC', cursive";>HIGHEST RANK: Maegashira 10</li><br/>
                                                                <li style="font-family: 'Patrick Hand SC', cursive";>AGE: 21</li><br/>
                                                                <li style="font-family: 'Patrick Hand SC', cursive";>DEBUT: 11/2014</li><br/>
                                                                <li style="font-family: 'Patrick Hand SC', cursive";>CURRENT RANK: Maegashira 10</li><br/>
                                                                <li style="font-family: 'Patrick Hand SC', cursive";>SPECIAL PRIZES: Fighting Spirit (1), Outstanding Performance (2)</li><br/>
                                                                <li style="font-family: 'Patrick Hand SC', cursive";>CHAMPIONSHIPS: 0</li><br/>
                                                                <li style="font-family: 'Patrick Hand SC', cursive";>GOLD STAR WINS (<em>kinboshi</em>): 3</li><br/>
                                                              </ul>
                                                            </p>
                                                          </div>
                                                        </li>
                                                      </div>
                                                    </ul>
                                                  </h5>
                                                </li>
                                              </ul>
                                            </p>
                                          </div>
                                        </div>
                                        <div class="row" background-color="#beb1d5">
                                          <div class="col s4 m4">
                                            <div class="icon-block">


                                              <div class="col s4 m4">
                                                <div class="icon-block">
                                                  <h5 class="center"></h5>

                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="parallax-container valign-wrapper">
                                        <div class="section no-pad-bot">
                                          <div class="container">
                                            <div class="row center">
                                              <h3 class="header col s12 white-text"></h3>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="parallax"><img src="assets/hero3sz.jpg" alt="Scenic Japanese 19th Century Woodblock"></div>
                                      </div>

                                      <!-- MORE SECTIONS -->
                                      <div class="container">
                                        <div class="section">
                                          <div class="row">
                                            <div class="col s12 center">
                                              <h3><i class="mdi-content-send black-text"></i></h3>
                                              <h4></h4>
                                              <p class="center-align dark"><h5>
                                                If you’ve ever wondered just how modern sumo get so fat, it’s all thanks to something called <em>chanko nabe</em>. This is a special kind of (delicious) hotpot packed with meat, veggies and noodles that is specifically associated with sumo wrestlers in Japan. This alone doesn’t do the trick – wrestlers have a special routine of exercising on an empty stomach and sleeping after eating to help turn the calories they consume (purportedly up to 10,000 per day) into bulk.
                                              </h5>
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>



                                    <div class="parallax-container valign-wrapper">
                                      <div class="section no-pad-bot">
                                        <div class="container">
                                          <div class="row center">
                                            <br/><br/>
                                            <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="parallax"><img src="assets/hero_2.jpg" alt="Scenic Japanese 19th Century Woodblock"></div>
                                    </div>



                                    <div class="container">
                                      <div class="row">
                                        <h3 class="center" id="komusubi">KOMUSUBI</h3>
                                        <div class="col s4 m4">
                                          <div class="icon-block">


                                            <p class="light">
                                              <ul class="data center deep-purple-darken-3-text">
                                                <li>
                                                  <h5>
                                                    <ul>
                                                      <li>
                                                        <div class="card  z-depth-4">
                                                          <div class="card-image waves-block">
                                                            <img class="activator photo"  src="assets/ura_skirt.jpg" alt="Ura in Regalia">
                                                          </div>
                                                          <div class="card-content">
                                                            <span class="card-title grey-text text-darken-4"><p1 class="center deep-purple-darken-3-text" class="titles">URA <br/> KAZUKI</p></br><i class="material-icons right">もっと！!</i></span>

                                                              <p></p>
                                                            </div>
                                                            <div class="card-reveal grad2">
                                                              <span class="card-title grey-text text-darken-4" class="title"><i class="material-icons right" style="font-family: 'Krona One', sans-serif;">close</i></span>
                                                              <p>
                                                                <ul style="font-family: 'Patrick Hand SC', cursive";>
                                                                  <br/><br/>
                                                                  <li style="font-family: 'Patrick Hand SC', cursive";>NAME: Kazuki	Ura</li><br/>
                                                                  <li style="font-family: 'Patrick Hand SC', cursive";>ORIGIN COUNTRY: Japan</li><br/>
                                                                  <li style="font-family: 'Patrick Hand SC', cursive";>RING NAME (<em>shikona</em>): Ura</li><br/>
                                                                  <li style="font-family: 'Patrick Hand SC', cursive";>BIRTHDATE: 06/22/92</li><br/>
                                                                  <li style="font-family: 'Patrick Hand SC', cursive";>HEIGHT: 1.74 m</li><br/>
                                                                  <li style="font-family: 'Patrick Hand SC', cursive";>WEIGHT: 137 k </li><br/>
                                                                  <li style="font-family: 'Patrick Hand SC', cursive";>STABLE: Kise</li><br/>
                                                                  <li style="font-family: 'Patrick Hand SC', cursive";>HIGHEST RANK: Maegashira 4</li><br/>
                                                                  <li style="font-family: 'Patrick Hand SC', cursive";>AGE: 25</li><br/>
                                                                  <li style="font-family: 'Patrick Hand SC', cursive";>DEBUT: 03/2015</li><br/>
                                                                  <li style="font-family: 'Patrick Hand SC', cursive";>CURRENT RANK: Maegashira 16</li><br/>
                                                                  <li style="font-family: 'Patrick Hand SC', cursive";>SPECIAL PRIZES: </li><br/>
                                                                  <li style="font-family: 'Patrick Hand SC', cursive";>CHAMPIONSHIPS: 0</li><br/>
                                                                  <li style="font-family: 'Patrick Hand SC', cursive";>GOLD STAR WINS (<em>kinboshi</em>): 1</li><br/>
                                                                </ul></p>
                                                              </div>
                                                            </li>

                                                          </ul>
                                                        </h5>
                                                      </li>
                                                    </ul>
                                                  </p>
                                                </div>
                                              </div>

                                              <div class="col s4 m4">
                                                <div class="icon-block">
                                                  <h5 class="center"></h5>

                                                  <p class="light">
                                                    <ul class="data center deep-purple-darken-3-text">
                                                      <li>
                                                        <h5>
                                                          <ul>
                                                            <li>
                                                              <div class="card  z-depth-4">
                                                                <div class="card-image waves-block">
                                                                  <img class="activator"  src="assets/chiyoshoma_skirt.jpg" alt="Chiyoshōma in Regalia" class="photo">
                                                                </div>
                                                                <div class="card-content">
                                                                  <span class="card-title grey-text text-darken-4"><p1 class="center deep-purple-darken-3-text" class="titles">CHIYOSHŌMA <br/> FUJIO</p></br><i class="material-icons right">もっと！!</i></span>

                                                                    <p></p>
                                                                  </div>
                                                                  <div class="card-reveal grad2">
                                                                    <span class="card-title grey-text text-darken-4" class="titles"><i class="material-icons right" style="font-family: 'Krona One', sans-serif;">close</i></span>
                                                                    <p>
                                                                      <ul style="font-family: 'Patrick Hand SC', cursive";>
                                                                        <br/><br/>
                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>NAME: Ganbaatar Munkhsaihan</li><br/>
                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>ORIGIN COUNTRY: Mongolia</li><br/>
                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>RING NAME (<em>shikona</em>): Chiyoshama</li><br/>
                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>BIRTHDATE: 07/20/91</li><br/>
                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>HEIGHT: 1.84 m</li></br>
                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>WEIGHT: 140 k </li><br/>
                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>STABLE: Kokonoe</li><br/>
                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>HIGHEST RANK: Maegashira 6</li><br/>
                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>AGE: 26</li><br/>
                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>DEBUT: 09/2009</li><br/>
                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>CURRENT RANK: Maegashira 6</li><br/>
                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>SPECIAL PRIZES: </li><br/>
                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>CHAMPIONSHIPS: 0</li><br/>
                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>GOLD STAR WINS (<em>kinboshi</em>): 0</li><br/>
                                                                      </ul>
                                                                    </p>
                                                                  </div>
                                                                </li>
                                                              </ul>
                                                            </h5>
                                                          </li>
                                                        </ul>
                                                      </p>
                                                    </div>
                                                  </div>

                                                  <div class="col s4 m4">
                                                    <div class="icon-block">
                                                      <h5 class="center"></h5>

                                                      <p class="light">
                                                        <ul class="data center deep-purple-darken-3-text">
                                                          <li>
                                                            <h5>
                                                              <ul>
                                                                <li>
                                                                  <div class="card  z-depth-4">
                                                                    <div class="card-image waves-block waves">
                                                                      <img class="activator photo"  src="assets/takakeisho_skirt.jpg" alt="Takakeisho in Regalia">
                                                                    </div>
                                                                    <div class="card-content">
                                                                      <span class="card-title grey-text text-darken-4"><p1 class="center deep-purple-darken-3-text" class="titles">TAKAKEISHŌ MITSUNOBU</p></br><i class="material-icons right">もっと！!</i></span>

                                                                        <p></p>
                                                                      </div>
                                                                      <div class="card-reveal grad2">
                                                                        <span class="card-title grey-text text-darken-4" class="title"><i class="material-icons right" style="font-family: 'Krona One', sans-serif;">close</i></span>
                                                                        <p>
                                                                          <ul style="font-family: 'Patrick Hand SC', cursive";>
                                                                            <br/><br/>
                                                                            <li style="font-family: 'Patrick Hand SC', cursive";>NAME: Takanobu	Satō</li><br/>
                                                                            <li style="font-family: 'Patrick Hand SC', cursive";>ORIGIN COUNTRY: Japan</li><br/>
                                                                            <li style="font-family: 'Patrick Hand SC', cursive";>RING NAME (<em>shikona</em>): Takakeishō</li><br/>
                                                                            <li style="font-family: 'Patrick Hand SC', cursive";>BIRTHDATE: 08/05/96</li><br/>
                                                                            <li style="font-family: 'Patrick Hand SC', cursive";>HEIGHT: 1.75 m</li><br/>
                                                                            <li style="font-family: 'Patrick Hand SC', cursive";>WEIGHT: 170 k </li><br/>
                                                                            <li style="font-family: 'Patrick Hand SC', cursive";>STABLE: Takanohana</li><br/>
                                                                            <li style="font-family: 'Patrick Hand SC', cursive";>HIGHEST RANK: Maegashira 10</li><br/>
                                                                            <li style="font-family: 'Patrick Hand SC', cursive";>AGE: 21</li><br/>
                                                                            <li style="font-family: 'Patrick Hand SC', cursive";>DEBUT: 11/2014</li><br/>
                                                                            <li style="font-family: 'Patrick Hand SC', cursive";>CURRENT RANK: Maegashira 10</li><br/>
                                                                            <li style="font-family: 'Patrick Hand SC', cursive";>SPECIAL PRIZES: Fighting Spirit (1), Outstanding Performance (2)</li><br/>
                                                                            <li style="font-family: 'Patrick Hand SC', cursive";>CHAMPIONSHIPS: 0</li><br/>
                                                                            <li style="font-family: 'Patrick Hand SC', cursive";>GOLD STAR WINS (<em>kinboshi</em>): 3</li><br/>
                                                                          </ul>
                                                                        </p>
                                                                      </div>
                                                                    </li>
                                                                  </div>
                                                                </ul>
                                                              </h5>
                                                            </li>
                                                          </ul>
                                                        </p>
                                                      </div>
                                                    </div>
                                                    <div class="row" background-color="#beb1d5">
                                                      <div class="col s4 m4">
                                                        <div class="icon-block">


                                                          <div class="col s4 m4">
                                                            <div class="icon-block">
                                                              <h5 class="center"></h5>

                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>

                                                  <div class="parallax-container valign-wrapper">
                                                    <div class="section no-pad-bot">
                                                      <div class="container">
                                                        <div class="row center">
                                                          <h3 class="header col s12 white-text"></h3>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="parallax"><img src="assets/hero3sz.jpg" alt="Scenic Japanese 19th Century Woodblock"></div>
                                                  </div>
                                                  <div class="container">
                                                    <div class="section">
                                                      <div class="row">
                                                        <div class="col s12 center">
                                                          <h3><i class="mdi-content-send black-text"></i></h3>
                                                          <h4></h4>
                                                          <p class="center-align dark"><h5>
                                                            In accordance with the strict rules governing their lives, sumo wrestlers aren’t even allowed to choose their own clothes. As soon as they join a stable they are expected to grow their hair in order to form a topknot, or chonmage, similar to the samurai hairstyles of the Edo Period. They are expected to wear this hairstyle and traditional dress at all times when out in public – which means that sumo wrestlers are pretty easy to spot on the subway!
                                                          </h5>
                                                        </p>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>



                                                <div class="parallax-container valign-wrapper">
                                                  <div class="section no-pad-bot">
                                                    <div class="container">
                                                      <div class="row center">
                                                        <br/><br/>
                                                        <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="parallax"><img src="assets/hero_2.jpg" alt="Scenic Japanese 19th Century Woodblock"></div>
                                                </div>



                                                <div class="container">
                                                  <div class="row">
                                                    <h3 class="center" id="maegashira">MAEGASHIRA</h3>
                                                    <div class="col s4 m4">
                                                      <div class="icon-block">


                                                        <p class="light">
                                                          <ul class="data center deep-purple-darken-3-text">
                                                            <li>
                                                              <h5>
                                                                <ul>
                                                                  <li>
                                                                    <div class="card  z-depth-4">
                                                                      <div class="card-image waves-block">
                                                                        <img class="activator photo"  src="assets/ura_skirt.jpg" alt="Ura in Regalia">
                                                                      </div>
                                                                      <div class="card-content">
                                                                        <span class="card-title grey-text text-darken-4"><p1 class="center deep-purple-darken-3-text" class="titles">URA <br/> KAZUKI</p></br><i class="material-icons right">もっと！!</i></span>

                                                                          <p></p>
                                                                        </div>
                                                                        <div class="card-reveal grad2">
                                                                          <span class="card-title grey-text text-darken-4" class="title"><i class="material-icons right" style="font-family: 'Krona One', sans-serif;">close</i></span>
                                                                          <p>
                                                                            <ul style="font-family: 'Patrick Hand SC', cursive";>
                                                                              <br/><br/>
                                                                              <li style="font-family: 'Patrick Hand SC', cursive";>NAME: Kazuki	Ura</li><br/>
                                                                              <li style="font-family: 'Patrick Hand SC', cursive";>ORIGIN COUNTRY: Japan</li><br/>
                                                                              <li style="font-family: 'Patrick Hand SC', cursive";>RING NAME (<em>shikona</em>): Ura</li><br/>
                                                                              <li style="font-family: 'Patrick Hand SC', cursive";>BIRTHDATE: 06/22/92</li><br/>
                                                                              <li style="font-family: 'Patrick Hand SC', cursive";>HEIGHT: 1.74 m</li><br/>
                                                                              <li style="font-family: 'Patrick Hand SC', cursive";>WEIGHT: 137 k </li><br/>
                                                                              <li style="font-family: 'Patrick Hand SC', cursive";>STABLE: Kise</li><br/>
                                                                              <li style="font-family: 'Patrick Hand SC', cursive";>HIGHEST RANK: Maegashira 4</li><br/>
                                                                              <li style="font-family: 'Patrick Hand SC', cursive";>AGE: 25</li><br/>
                                                                              <li style="font-family: 'Patrick Hand SC', cursive";>DEBUT: 03/2015</li><br/>
                                                                              <li style="font-family: 'Patrick Hand SC', cursive";>CURRENT RANK: Maegashira 16</li><br/>
                                                                              <li style="font-family: 'Patrick Hand SC', cursive";>SPECIAL PRIZES: </li><br/>
                                                                              <li style="font-family: 'Patrick Hand SC', cursive";>CHAMPIONSHIPS: 0</li><br/>
                                                                              <li style="font-family: 'Patrick Hand SC', cursive";>GOLD STAR WINS (<em>kinboshi</em>): 1</li><br/>
                                                                            </ul></p>
                                                                          </div>
                                                                        </li>

                                                                      </ul>
                                                                    </h5>
                                                                  </li>
                                                                </ul>
                                                              </p>
                                                            </div>
                                                          </div>

                                                          <div class="col s4 m4">
                                                            <div class="icon-block">
                                                              <h5 class="center"></h5>

                                                              <p class="light">
                                                                <ul class="data center deep-purple-darken-3-text">
                                                                  <li>
                                                                    <h5>
                                                                      <ul>
                                                                        <li>
                                                                          <div class="card  z-depth-4">
                                                                            <div class="card-image waves-block">
                                                                              <img class="activator"  src="assets/chiyoshoma_skirt.jpg" alt="Chiyoshōma in Regalia" class="photo">
                                                                            </div>
                                                                            <div class="card-content">
                                                                              <span class="card-title grey-text text-darken-4"><p1 class="center deep-purple-darken-3-text" class="titles">CHIYOSHŌMA <br/> FUJIO</p></br><i class="material-icons right">もっと！!</i></span>

                                                                                <p></p>
                                                                              </div>
                                                                              <div class="card-reveal grad2">
                                                                                <span class="card-title grey-text text-darken-4" class="titles"><i class="material-icons right" style="font-family: 'Krona One', sans-serif;">close</i></span>
                                                                                <p>
                                                                                  <ul style="font-family: 'Patrick Hand SC', cursive";>
                                                                                    <br/><br/>
                                                                                    <li style="font-family: 'Patrick Hand SC', cursive";>NAME: Ganbaatar Munkhsaihan</li><br/>
                                                                                    <li style="font-family: 'Patrick Hand SC', cursive";>ORIGIN COUNTRY: Mongolia</li><br/>
                                                                                    <li style="font-family: 'Patrick Hand SC', cursive";>RING NAME (<em>shikona</em>): Chiyoshama</li><br/>
                                                                                    <li style="font-family: 'Patrick Hand SC', cursive";>BIRTHDATE: 07/20/91</li><br/>
                                                                                    <li style="font-family: 'Patrick Hand SC', cursive";>HEIGHT: 1.84 m</li></br>
                                                                                    <li style="font-family: 'Patrick Hand SC', cursive";>WEIGHT: 140 k </li><br/>
                                                                                    <li style="font-family: 'Patrick Hand SC', cursive";>STABLE: Kokonoe</li><br/>
                                                                                    <li style="font-family: 'Patrick Hand SC', cursive";>HIGHEST RANK: Maegashira 6</li><br/>
                                                                                    <li style="font-family: 'Patrick Hand SC', cursive";>AGE: 26</li><br/>
                                                                                    <li style="font-family: 'Patrick Hand SC', cursive";>DEBUT: 09/2009</li><br/>
                                                                                    <li style="font-family: 'Patrick Hand SC', cursive";>CURRENT RANK: Maegashira 6</li><br/>
                                                                                    <li style="font-family: 'Patrick Hand SC', cursive";>SPECIAL PRIZES: </li><br/>
                                                                                    <li style="font-family: 'Patrick Hand SC', cursive";>CHAMPIONSHIPS: 0</li><br/>
                                                                                    <li style="font-family: 'Patrick Hand SC', cursive";>GOLD STAR WINS (<em>kinboshi</em>): 0</li><br/>
                                                                                  </ul>
                                                                                </p>
                                                                              </div>
                                                                            </li>
                                                                          </ul>
                                                                        </h5>
                                                                      </li>
                                                                    </ul>
                                                                  </p>
                                                                </div>
                                                              </div>

                                                              <div class="col s4 m4">
                                                                <div class="icon-block">
                                                                  <h5 class="center"></h5>

                                                                  <p class="light">
                                                                    <ul class="data center deep-purple-darken-3-text">
                                                                      <li>
                                                                        <h5>
                                                                          <ul>
                                                                            <li>
                                                                              <div class="card  z-depth-4">
                                                                                <div class="card-image waves-block waves">
                                                                                  <img class="activator photo"  src="assets/takakeisho_skirt.jpg" alt="Takakeisho in Regalia">
                                                                                </div>
                                                                                <div class="card-content">
                                                                                  <span class="card-title grey-text text-darken-4"><p1 class="center deep-purple-darken-3-text" class="titles">TAKAKEISHŌ MITSUNOBU</p></br><i class="material-icons right">もっと！!</i></span>

                                                                                    <p></p>
                                                                                  </div>
                                                                                  <div class="card-reveal grad2">
                                                                                    <span class="card-title grey-text text-darken-4" class="title"><i class="material-icons right" style="font-family: 'Krona One', sans-serif;">close</i></span>
                                                                                    <p>
                                                                                      <ul style="font-family: 'Patrick Hand SC', cursive";>
                                                                                        <br/><br/>
                                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>NAME: Takanobu	Satō</li><br/>
                                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>ORIGIN COUNTRY: Japan</li><br/>
                                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>RING NAME (<em>shikona</em>): Takakeishō</li><br/>
                                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>BIRTHDATE: 08/05/96</li><br/>
                                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>HEIGHT: 1.75 m</li><br/>
                                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>WEIGHT: 170 k </li><br/>
                                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>STABLE: Takanohana</li><br/>
                                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>HIGHEST RANK: Maegashira 10</li><br/>
                                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>AGE: 21</li><br/>
                                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>DEBUT: 11/2014</li><br/>
                                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>CURRENT RANK: Maegashira 10</li><br/>
                                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>SPECIAL PRIZES: Fighting Spirit (1), Outstanding Performance (2)</li><br/>
                                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>CHAMPIONSHIPS: 0</li><br/>
                                                                                        <li style="font-family: 'Patrick Hand SC', cursive";>GOLD STAR WINS (<em>kinboshi</em>): 3</li><br/>
                                                                                      </ul>
                                                                                    </p>
                                                                                  </div>
                                                                                </li>
                                                                              </div>
                                                                            </ul>
                                                                          </h5>
                                                                        </li>
                                                                      </ul>
                                                                    </p>
                                                                  </div>
                                                                </div>
                                                                <div class="row" background-color="#beb1d5">
                                                                  <div class="col s4 m4">
                                                                    <div class="icon-block">


                                                                      <div class="col s4 m4">
                                                                        <div class="icon-block">
                                                                          <h5 class="center"></h5>

                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>

                                                              <div class="parallax-container valign-wrapper">
                                                                <div class="section no-pad-bot">
                                                                  <div class="container">
                                                                    <div class="row center">
                                                                      <h3 class="header col s12 white-text"></h3>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                                <div class="parallax"><img src="assets/hero20.jpg" alt="Scenic Japanese 19th Century Woodblock"></div>
                                                              </div>
