
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br/><br/>
      <h1 class="header center #E6FAAA">SUMOARY</h1>
      <div class="row center">
        <h3 class="header col s12 light black-text">THE ONE-STOP SUMO SUMMARY SITE</h3>
      </div>
      <div class="row center">
        <br/><br/>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/hero_sized.jpg" alt="Scenic Japanese 19th Century Woodblock"></div>
</div>


<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send black-text"></i></h3>
        <h4></h4>
        <p class="center-align dark"><h5>
          Sumo (相撲 <em>sumō</em>) or sumo wrestling is a competitive full-contact wrestling sport where a <em>rikishi</em> (wrestler) attempts to force another wrestler out of a circular ring (<em>dohyō</em>) or into touching the ground with anything other than the soles of his feet. The characters 相撲 literally mean "striking one another".
        </h5>
      </p>
    </div>
  </div>
</div>
</div>



<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <br/><br/>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <!-- <h2 class="center header col s12 white-text">Makuuchi (幕内) Rikishi (力士)</h2> -->
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/hero_2.jpg" alt="Scenic Japanese 19th Century Woodblock"></div>
</div>

<div class="container">
  <div class="row" background-color="#beb1d5">
    <div class="col s4 m4">
      <div class="icon-block">
        <!-- <h4 class="center deep-purple-darken-3-text" class="titles">Yokozuna</h4> -->
        <h5 class="center"></h5>

        <p class="light">
          <ul class="data center deep-purple-darken-3-text">
            <li>
              <h5>
                <ul>
                  <li>
                    <div class="card medium">
                      <div class="card-image">
                        <a href="/yokozuna/index"><img src="assets/hak_ss_sized.jpg" alt="Hakuho Sho with Sylvester Stallone"></a>
                      </div>
                      <div class="card-content">
                        <a href="/yokozuna/index"><span class="card-title grey-text text-darken-4"><h4 class="center deep-purple-darken-3-text" class="titles">Yokozuna</h4></br><i class="material-icons right">もっと！!</i></span></a>
                        <p></p>
                      </div>
                      <!--        <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4" class="titles">Gâteaux & Tartes<i class="material-icons right">close</i></span>
                      <p id="cakesDiv"></p>
                    </div> -->
                  </div>
                </li>
              </ul>
            </h5>
          </li>
        </ul>
      </p>
    </div>
  </div>

  <div class="col s4 m4">
    <div class="icon-block">
      <!-- <h4 class="center deep-purple-darken-3-text" class="titles">Ozeki</h4> -->
      <h5 class="center"></h5>

      <p class="light">
        <ul class="data center deep-purple-darken-3-text">
          <li>
            <h5>
              <ul>
                <li>
                  <div class="card medium">
                    <div class="card-image">
                      <a href="/ozeki/index"><img src="assets/tochi_v.jpg" alt="Tochinoshin Victory Ride"></a>
                    </div>
                    <div class="card-content">
                      <a href="/ozeki/index"><span class="card-title grey-text text-darken-4"><h4 class="center deep-purple-darken-3-text" class="titles">Ōzeki</h4></br><i class="material-icons right">もっと！!</i></span></a>
                      <p></p>
                    </div>
                  </div>
                </li>
              </ul>
            </h5>
          </li>
        </ul>
      </p>
    </div>
  </div>

  <div class="col s4 m4">
    <div class="icon-block">
      <!-- <h4 class="center deep-purple-darken-3-text" class="titles">Sekiwake</h4> -->
      <h5 class="center"></h5>

      <p class="light">
        <ul class="data center deep-purple-darken-3-text">
          <li>
            <h5>
              <ul>
                <li>
                  <li>
                    <div class="card medium">
                      <div class="card-image">
                        <a href="/sekiwake/index"><img src="assets/ichi_kids_sized.jpg" alt="Ichinojo with Kids"></a>
                      </div>
                      <div class="card-content">
                        <a href="/sekiwake/index"><span class="card-title grey-text text-darken-4"><h4 class="center deep-purple-darken-3-text" class="titles">Sekiwake</h4></br><i class="material-icons right">もっと！!</i></span></a>
                        <p></p>
                      </div>
                    </div>
                  </li>

                </div>
              </li>
            </ul>
          </h5>
        </li>
      </ul>
    </p>
  </div>
</div>
<div class="row" background-color="#beb1d5">
  <div class="col s4 m4">
    <div class="icon-block">
      <!-- <h4 class="center deep-purple-darken-3-text" class="titles">Yokozuna</h4> -->
      <h5 class="center"></h5>

      <p class="light">
        <ul class="data center deep-purple-darken-3-text">
          <li>
            <h5>
              <ul>
                <li>
                  <div class="card medium">
                    <div class="card-image">
                      <a href="/komusubi/index"><img src="assets/endo_komu.jpg" alt="Endo Smiling"></a>
                    </div>
                    <div class="card-content">
                      <a href="/komusubi/index"><span class="card-title grey-text text-darken-4"><h4 class="center deep-purple-darken-3-text" class="titles">Komusubi</h4></br><i class="material-icons right">もっと！!</i></span></a>
                      <p></p>
                    </div>
                    <!--        <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4" class="titles">Gâteaux & Tartes<i class="material-icons right">close</i></span>
                    <p id="cakesDiv"></p>
                  </div> -->
                </div>
              </li>
            </ul>
          </h5>
        </li>
      </ul>
    </p>
  </div>
</div>

<div class="col s4 m4">
  <div class="icon-block">
    <!-- <h4 class="center deep-purple-darken-3-text" class="titles">Ozeki</h4> -->
    <h5 class="center"></h5>

    <p class="light">
      <ul class="data center deep-purple-darken-3-text">
        <li>
          <h5>
            <ul>
              <li>
                <div class="card medium">
                  <div class="card-image">
                    <a href="/maegashira/index"><img src="assets/abi_maeg.jpg" alt="Abi with Kids"></a>
                  </div>
                  <div class="card-content">
                    <a href="/maegashira/index"><span class="card-title grey-text text-darken-4"><h4 class="center deep-purple-darken-3-text" class="titles">Maegashira</h4></br><i class="material-icons right">もっと！!</i></span></a>
                    <p></p>
                  </div>
                </div>
              </li>
            </ul>
          </h5>
        </li>
      </ul>
    </p>
  </div>
</div>

<div class="col s4 m4">
  <div class="icon-block">
    <!-- <h4 class="center deep-purple-darken-3-text" class="titles">Sekiwake</h4> -->
    <h5 class="center"></h5>

    <!-- <p class="light">
    <ul class="data center deep-purple-darken-3-text">
    <li>
    <h5>
    <ul>
    <li>
    <li>
    <div class="card medium">
    <div class="card-image">
    <a href="/savory"><img src="assets/ichi_kids_sized.jpg" alt="Pic of Savory Tomato Tarte"></a>
  </div>
  <div class="card-content">
  <a href="/savory"><span class="card-title grey-text text-darken-4"><h4 class="center deep-purple-darken-3-text" class="titles">Sekiwake</h4></br><i class="material-icons right">もっと！!</i></span></a>
  <p></p>
</div>
</div>
</li>

</div>
</li>
</ul>
</h5>
</li>
</ul>
</p> -->
</div>
</div>
</div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <br/><br/>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <!-- <h2 class="center header col s12 white-text">Makuuchi (幕内) Rikishi (力士)</h2> -->
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/hero_2.jpg" alt="Scenic Japanese 19th Century Woodblock"></div>
</div>

<div class="container">
  <div class="row" background-color="#beb1d5">
    <div class="col s4 m4">
      <div class="icon-block">
        <!-- <h4 class="center deep-purple-darken-3-text" class="titles">Yokozuna</h4> -->
        <h5 class="center"></h5>

        <p class="light">
          <ul class="data center deep-purple-darken-3-text">
            <li>
              <h5>
                <ul>
                  <li>
                    <div class="card medium">
                      <div class="card-image">
                        <a href="/yokozuna/index"><img src="assets/hak_ss_sized.jpg" alt="Hakuho Sho with Sylvester Stallone"></a>
                      </div>
                      <div class="card-content">
                        <a href="/yokozuna/index"><span class="card-title grey-text text-darken-4"><h4 class="center deep-purple-darken-3-text" class="titles">Yokozuna</h4></br><i class="material-icons right">もっと！!</i></span></a>
                        <p></p>
                      </div>
                      <!--        <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4" class="titles">Gâteaux & Tartes<i class="material-icons right">close</i></span>
                      <p id="cakesDiv"></p>
                    </div> -->
                  </div>
                </li>
              </ul>
            </h5>
          </li>
        </ul>
      </p>
    </div>
  </div>

  <div class="col s4 m4">
    <div class="icon-block">
      <!-- <h4 class="center deep-purple-darken-3-text" class="titles">Ozeki</h4> -->
      <h5 class="center"></h5>

      <p class="light">
        <ul class="data center deep-purple-darken-3-text">
          <li>
            <h5>
              <ul>
                <li>
                  <div class="card medium">
                    <div class="card-image">
                      <a href="/ozeki/index"><img src="assets/tochi_v.jpg" alt="Tochinoshin Victory Ride"></a>
                    </div>
                    <div class="card-content">
                      <a href="/ozeki/index"><span class="card-title grey-text text-darken-4"><h4 class="center deep-purple-darken-3-text" class="titles">Ōzeki</h4></br><i class="material-icons right">もっと！!</i></span></a>
                      <p></p>
                    </div>
                  </div>
                </li>
              </ul>
            </h5>
          </li>
        </ul>
      </p>
    </div>
  </div>

  <div class="col s4 m4">
    <div class="icon-block">
      <!-- <h4 class="center deep-purple-darken-3-text" class="titles">Sekiwake</h4> -->
      <h5 class="center"></h5>

      <p class="light">
        <ul class="data center deep-purple-darken-3-text">
          <li>
            <h5>
              <ul>
                <li>
                  <li>
                    <div class="card medium">
                      <div class="card-image">
                        <a href="/sekiwake/index"><img src="assets/ichi_kids_sized.jpg" alt="Ichinojo with Kids"></a>
                      </div>
                      <div class="card-content">
                        <a href="/sekiwake/index"><span class="card-title grey-text text-darken-4"><h4 class="center deep-purple-darken-3-text" class="titles">Sekiwake</h4></br><i class="material-icons right">もっと！!</i></span></a>
                        <p></p>
                      </div>
                    </div>
                  </li>

                </div>
              </li>
            </ul>
          </h5>
        </li>
      </ul>
    </p>
  </div>
</div>
<div class="row" background-color="#beb1d5">
  <div class="col s4 m4">
    <div class="icon-block">
      <!-- <h4 class="center deep-purple-darken-3-text" class="titles">Yokozuna</h4> -->
      <!-- <h5 class="center"></h5>

      <p class="light">
        <ul class="data center deep-purple-darken-3-text">
          <li>
            <h5>
              <ul>
                <li>
                  <div class="card medium">
                    <div class="card-image">
                      <a href="/komusubi/index"><img src="assets/endo_komu.jpg" alt="Endo Smiling"></a>
                    </div>
                    <div class="card-content">
                      <a href="/komusubi/index"><span class="card-title grey-text text-darken-4"><h4 class="center deep-purple-darken-3-text" class="titles">Komusubi</h4></br><i class="material-icons right">もっと！!</i></span></a>
                      <p></p>
                    </div> -->
                    <!--        <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4" class="titles">Gâteaux & Tartes<i class="material-icons right">close</i></span>
                    <p id="cakesDiv"></p>
                  </div> -->
                <!-- </div>
              </li>
            </ul>
          </h5>
        </li>
      </ul>
    </p>
  </div>
</div> -->

<!-- <div class="col s4 m4">
  <div class="icon-block"> -->
    <!-- <h4 class="center deep-purple-darken-3-text" class="titles">Ozeki</h4> -->
    <!-- <h5 class="center"></h5>

    <p class="light">
      <ul class="data center deep-purple-darken-3-text">
        <li>
          <h5>
            <ul>
              <li>
                <div class="card medium">
                  <div class="card-image">
                    <a href="/maegashira/index"><img src="assets/abi_maeg.jpg" alt="Abi with Kids"></a>
                  </div>
                  <div class="card-content">
                    <a href="/maegashira/index"><span class="card-title grey-text text-darken-4"><h4 class="center deep-purple-darken-3-text" class="titles">Maegashira</h4></br><i class="material-icons right">もっと！!</i></span></a>
                    <p></p>
                  </div>
                </div>
              </li>
            </ul>
          </h5>
        </li>
      </ul>
    </p>
  </div>
</div> -->

<div class="col s4 m4">
  <div class="icon-block">
    <!-- <h4 class="center deep-purple-darken-3-text" class="titles">Sekiwake</h4> -->
    <h5 class="center"></h5>

    <!-- <p class="light">
    <ul class="data center deep-purple-darken-3-text">
    <li>
    <h5>
    <ul>
    <li>
    <li>
    <div class="card medium">
    <div class="card-image">
    <a href="/savory"><img src="assets/ichi_kids_sized.jpg" alt="Pic of Savory Tomato Tarte"></a>
  </div>
  <div class="card-content">
  <a href="/savory"><span class="card-title grey-text text-darken-4"><h4 class="center deep-purple-darken-3-text" class="titles">Sekiwake</h4></br><i class="material-icons right">もっと！!</i></span></a>
  <p></p>
</div>
</div>
</li>

</div>
</li>
</ul>
</h5>
</li>
</ul>
</p> -->
</div>
</div>
</div>
</div>
</div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h3 class="header col s12 white-text"></h3>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/hero3sz.jpg" alt="Scenic Japanese 19th Century Woodblock"></div>
</div>
